	body,
	html {
		height: 100%;
		margin: 0;
		font-family: 'Roboto', sans-serif;
		padding: 0;
	}
	
	@media screen and (min-width: 320px) {
		#smallP{
			font-size: 10px;
		}
		input {
			-moz-appearance:none;
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
		}
		nav {
			padding: 15px 15px 5px;
		}
		nav a {
			float: right;
			text-decoration: none;
			color: #313131;
			margin-top: 10px;
		}
		#logo {
			height: 45px;
			width: auto;
		}
		h1 {
			font-weight: 400;
			font-size: 28px;
			color: #313131;
			margin-right: 40px;
			margin-left: 40px;
		}
		h3 {
			font-weight: 400;
			font-size: 16px;
			color: #313131;
		}
		#arrowIcon {
			width: auto;
			height: 16px;
		}
		ul#ui-id-1 {
			padding: 10px;
			width: 180px;
			background-color: white;
			border-radius: 6px;
			line-height: 25px;
		}
		.ui-menu-item {
			list-style-type: none;
		}
		.headings {
			text-align: center;
			padding-top: 70px;
		}
		.headings h3 {
			padding-top: 115px;
		}
		#search {
			width: 200px;
			height: 30px;
			background-color: white;
			border: none;
			padding: 3px 4px;
			border-radius: 6px;
			font-family: 'Roboto', sans-serif;
			font-size: 20px;
		}
	#search:focus{
		outline:none;
	}
		#searchBtn {
			background-color: #FF989D;
			border: none;
		/*	font-size: 14px;*/
			/*padding: 5px 6px;*/
			border-radius: 6px;
			color: white;
			background-image: url("../images/search.png");
			background-repeat: no-repeat;
			background-position: center;
			font-size: 20px;
			width:30px;
			height: 30px;
		}
		.scrolloff {
			pointer-events: none;
		}
		#background {
			background-image: url("../images/homeimg.jpg");
			height: 60%;
			min-height: 500px;
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}


		/*MAP*/
		#map_wrapper {
			height: 500px;
		}
		#map_canvas {
			width: 100%;
			height: 100%;
		}
			footer{
		margin-left:5px;
		color:gray;
	}

	footer a{
		text-decoration: none;
		color:gray;
	}
	}
	
	@media screen and (min-width: 768px) {
		.headings {
			text-align: center;
			padding-top: 180px;
		}
		.headings h3 {
			padding-top: 320px;
		}
			/*MAP*/
		#map_wrapper {
			height: 700px;
		}
		#map_canvas {
			width: 100%;
			height: 100%;
		}
			#background {
			background-image: url("../images/homeimg.jpg");
			height: 80%;
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		
	}
	
	@media screen and (min-width: 1000px) {
		h1 {
			font-weight: 400;
			font-size: 34px;
			color: #313131;
		}
		h3 {
			font-weight: 400;
			font-size: 20px;
			color: #313131;
		}
		.scrolloff {
			pointer-events: none;
		}
		#background {
			background-image: url("../images/homeimg.jpg");
			height: 90%;
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		nav a {
			float: right;
			text-decoration: none;
			color: #313131;
		}
		.ui-menu-item {
			list-style-type: none;
		}
		.headings {
			text-align: center;
			padding-top: 200px;
		}
		.headings h3 {
			padding-top: 300px;
		}
		/*MAP*/
		#map_wrapper {
			height: 800px;
		}
		#map_canvas {
			width: 100%;
			height: 100%;
		}
		
		#homeImg {
			width: auto;
			height: 500px;
		}
		#arrowIcon {
			width: auto;
			height: 30px;
		}
	/*	ul#ui-id-1 {
			padding: 10px;
			width: 180px;
			background-color: white;
			border-radius: 6px;
		}*/
		input[type="submit" i] {
			color: white;
		}
	}
